.vscode
.idea
./vslam2/ORB_SLAM3/Examples/*
vslam2/ORB_SLAM3/Examples_old/*
vslam2/ORB_SLAM3_ROS/params_old/Monocular-Inertial/TUM_IMU/*
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/TUM_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Monocular-Inertial/EuRoC_IMU/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Monocular-Inertial/EuRoC_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Monocular-Inertial/TUM_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params_old/RGB-D/associations/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Stereo/EuRoC_TimeStamps/*.txt

vslam2/ORB_SLAM3_ROS/params_old/Stereo/TUM_TimeStamps/*.txt

vslam2/ORB_SLAM3_ROS/params_old/Stereo-Inertial/EuRoC_IMU/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Stereo-Inertial/EuRoC_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Stereo-Inertial/TUM_IMU/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Stereo-Inertial/TUM_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params_old/Stereo-Inertial/D455.txt
vslam2/ORB_SLAM3_ROS/params_old/Monocular-Inertial/D455_Color.txt
vslam2/ORB_SLAM3_ROS/params/Stereo/stereo_zed2
vslam2/ORB_SLAM3_ROS/params/Stereo/stereo_tum_vi
vslam2/ORB_SLAM3_ROS/params/Stereo/EuRoC_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params/Stereo/TUM_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/stereo_inertial_euroc
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/stereo_inertial_d455
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/stereo_inertial_realsense_D435i
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/stereo_inertial_realsense_t265
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/stereo_inertial_tum_vi
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/stereo_inertial_zed2
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/EuRoC_IMU/*.txt
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/EuRoC_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params/Stereo-Inertial/TUM_IMU/*.txt
vslam2/ORB_SLAM3_ROS/params/RGB-D/associations/*.txt
vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/mono_inertial_realsense_D435i
vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/mono_inertial_realsense_t265
vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/mono_inertial_see3cam
vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/mono_inertial_tum_vi
vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/mono_inertial_zed2

vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/EuRoC_IMU/*.txt

vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/EuRoC_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/TUM_IMU/*.txt

vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/TUM_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params/RGB-D/rgbd_realsense_D435i
vslam2/ORB_SLAM3_ROS/params/RGB-D/rgbd_realsense_D435i.cc
vslam2/ORB_SLAM3_ROS/params/RGB-D/rgbd_tum
vslam2/ORB_SLAM3_ROS/params/RGB-D-Inertial/rgbd_inertial_realsense_D435i
vslam2/ORB_SLAM3_ROS/params/Stereo/stereo_euroc
vslam2/ORB_SLAM3_ROS/params/Stereo/stereo_realsense_D435i
vslam2/ORB_SLAM3_ROS/params/Stereo/stereo_realsense_t265
vslam2/ORB_SLAM3_ROS/params/Stereo/stereo_kitti
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_tum_vi
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_tum
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_see3cam
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_realsense_t265
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_realsense_D435i
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_kitti
vslam2/ORB_SLAM3_ROS/params/Monocular/mono_euroc
vslam2/ORB_SLAM3_ROS/params/Monocular/EuRoC_TimeStamps/*.txt
vslam2/ORB_SLAM3_ROS/params/Monocular/TUM_TimeStamps/*.txt

vslam2/ORB_SLAM3_ROS/params/Monocular-Inertial/mono_inertial_euroc
vslam2/ORB_SLAM3_ROS/launch/imu.txt
