<?xml version="1.0"?>
<robot>
  <material name="youBot/Orange">
    <color rgba="1.0 0.4 0.0 1.0"/>
  </material>
  <material name="youBot/Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="youBot/DarkGrey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  <material name="youBot/White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="youBot/Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="youBot/Red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="youBot/Green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="youBot/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="youBot/LightGrey">
    <color rgba="0.82 0.82 0.82 1.0"/>
  </material>
</robot>
